<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            point="org.eclipse.ui.commands">
        <category
                name="Sample Category"
                id="com.lynas.plugin.commands.category">
        </category>
        <command
                name="Option1"
                categoryId="com.lynas.plugin.commands.category"
                id="com.lynas.plugin.commands.sampleCommand">
        </command>
    </extension>
    <extension
            point="org.eclipse.ui.handlers">
        <handler
                commandId="com.lynas.plugin.commands.sampleCommand"
                class="com.lynas.plugin.handlers.SampleHandler">
        </handler>
    </extension>
    <extension
            point="org.eclipse.ui.bindings">
        <key
                commandId="com.lynas.plugin.commands.sampleCommand"
                contextId="org.eclipse.ui.contexts.window"
                sequence="M1+6"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
    </extension>
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                    label="NewMenu"
                    mnemonic="M"
                    id="com.lynas.plugin.menus.sampleMenu">
                <command
                        commandId="com.lynas.plugin.commands.sampleCommand"
                        mnemonic="S"
                        id="com.lynas.plugin.menus.sampleCommand">
                </command>
            </menu>
        </menuContribution>
        <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                    id="com.lynas.plugin.toolbars.sampleToolbar">
                <command
                        commandId="com.lynas.plugin.commands.sampleCommand"
                        icon="icons/sample.gif"
                        tooltip="Say hello world"
                        id="com.lynas.plugin.toolbars.sampleCommand">
                </command>
            </toolbar>
        </menuContribution>
    </extension>

</plugin>
